/* Basic Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------ Resuable Components ------ */

/* only value that has px
all other layout margins/padding values will be definied in percentages */
.row {
    max-width: 1140px;
    /* center rows */
    margin: 0 auto;
}

section {
    /* will be adding background images font-variant-ligatures
    so we'll be using padding to create whitespace instead of margins */
    padding: 80px 0;  
}

.box {
    padding: 1%;
}

/* ------ Paragraphs ------ */

.long-copy {
    line-height: 145%;
    /* center paragraph */
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------ Icons ------ */

/* remember icons are fonts, so you can style like a font */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/* ------ Headings ------ */

h1, h2, h3 {
    /* h1 by default makes text bold */
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
      /* responsive website - use percentages
    we want our font size to be twice as big as our standard font size - 20px */
    font-size: 240%;
      /* add spacing */
      letter-spacing: 1px;
}

h2 {

    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
      /* add spacing */
      letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* after pseudoclass allows us to add content to html using CSS declaration */
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    /* center line */
    margin: 0 auto;
    margin-top: 30px;
}

/* hero text buttons */

/* common styles for buttons */

.btn:link, .btn:visited {
    /* gives inline element some block properties like padding */
    display: inline-block;
    padding: 10px 30px;
    font-weight: 30;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* specific button classes style */

.btn-full:link, .btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

/* different button states - order matters 
declare after all declatarions have been made for elements */

.btn:hover, .btn:active {
    background-color: #cf6d17;

}

.btn-full:hover, .btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    /* we want to see the whole img so use background size */
    background-size: cover;
    background-position: center;
    /* fill viewport with the image */
    height: 100vh;
}

.hero-text-box {
    /* position box by overiding grid css by using position absolute
    this gives us more control */
    position: absolute;
    width: 1140px;
    /* center box */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navbar */

.logo {
    height: 100px;
    width: auto;
    /* use float left to move all the way left */
    float: left;
    margin-top: 20px;
}

.main-nav {
    /* use float right to move all the way right */
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    /* make lis inline-block so they're side by side & be able to add margin/padding */
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #e67e22 ;
}

/* Features */

.section-features .long-copy {
    margin-bottom: 30px;

}


/* Meals */

.section-meals {
    padding: 0;
}


.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meal-photo {
    width: 100%;
    margin: 0;
    /* img overflows from container - so make the overflow hidden
    so it's not bigger than container */
    overflow: hidden;
    /* make background black so opacity is on dark background instead of white */
    background-color: #000;
}

.meal-photo img {
    /* make img darker */
    opacity: 0.7;
    /* make width exactly the same as parent container */
    width: 100%;
    height: auto;
    /* scale image to make 115% of size */
    transform: scale(1.15);
    /* add transition for smooth animation effect */
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    /* zoom back to normal */
    transform: scale(1.03);
    /* change opacity back to 1 */
    opacity: 1;

}